<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Mangoes from Pakistan</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-sm bg-light">
        <a class="navbar-brand" href="#">Mangoes from Pakistan</a>
      </nav>
    </header>
    <main class="container my-5">
      <h2 class="text-center">Mango Varieties from Pakistan</h2>
      <div class="row">
        <div class="col-sm-4">
          <div class="mango-card">
            <img src="https://mango.com/images/alphonso.jpg" alt="Alphonso Mango" class="img-fluid">
            <h3>Alphonso</h3>
            <p>Originated in the Konkan region of India, the Alphonso mango is known for its sweet, juicy flesh and rich, creamy texture. It is considered one of the finest mangoes in the world.</p>
            <p>Popular brands using Alphonso mangoes:<br>
              - Fruit Bazaar<br>
              - Mango King<br>
              - Sweet and Juicy
            </p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="mango-card">
            <img src="https://mango.com/images/chaunsa.jpg" alt="Chaunsa Mango" class="img-fluid">
            <h3>Chaunsa</h3>
            <p>The Chaunsa mango is a sweet and juicy variety, grown in the Northern regions of Pakistan. It has a dense flesh and a rich, sweet flavor that makes it a popular choice for mango lovers.</p>
            <p>Popular brands using Chaunsa mangoes:<br>
              - Mango Delight<br>
              - Sweet Treats<br>
              - Fresh Delight
            </p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="mango-card">
            <img src="https://mango.com/images/dusheri.jpg" alt="Dusheri Mango" class="img-fluid">
            <h3>Dusheri</h3>
            <p>The Dusheri mango is a sweet and fragrant variety, grown in the Northern regions of Pakistan. It has a juicy flesh and a unique, sweet flavor that makes it a popular choice for mango lovers.</p>
            <p>Popular brands using Dusheri mangoes:<br>
              - Mango Magic<br>
              - Sweet Sensation<br>
              - Juicy Delight
            </p>
          </div>
        </div>
      </div>
